{% extends 'global/Page.html' %}
{% load static %}

{% block title %}
    <!-- Page Title -->
    End of Questioning Phase
{% endblock %}

{% block content %}
    <!-- Main Container -->
    <div class="container">
        <!-- Main Row -->
        <div class="row">
            <!-- Main Column -->
            <div class="col">

                <!-- Information Card -->
                <div class="card bg-light m-3">
                    <div class="card-body">
                        <p>Before we can announce the results, we kindly ask you to complete a short survey, which should take around 5 minutes.</p>
                        <p>Your reward will be based on the result of a random question selected from both phase 1 and phase 3 of the experiment and will be announced at the end of the survey.</p>
                        <p>Please click on the button to proceed to the survey.</p>
                    </div>
                </div>

                <!-- Continue Button -->
                <div class="d-flex justify-content-center">
                    {% next_button %}
                </div>
            </div>
            <!-- End of Main Column -->
        </div>
        <!-- End of Main Row -->
    </div>
    <!-- End of Main Container -->
{% endblock %}